// add customs styles and general overrides here
// due to the cascading nature of css, if you try to override theme css variables in this file, those changes will not apply. Instead, override css variables in the `override.sass` file
// we recommend not editing this file directly. Instead, create an `assets/sass/_custom.sass` file at the root level of your site.
// if you edit this file directly, you will have to resolve git conflicts when and if you decide to pull changes we make on the theme

html
  --light: #f8f8f8
  --haze: #f3f3f3
  --text: #333
  --inline-color: #0acbc9
  --theme: rgb(168,38,203)
  --scroll-thumb: #e8e8e8

  &[data-mode="dark"]
    --text: #ddd
    --inline-color: rgb(179,41,217)
    --theme: #0acbc9
    --scroll-thumb: #2a2a2c

*
  scrollbar-color: var(--scroll-thumb) transparent
  scrollbar-width: thin

::-webkit-scrollbar
  width: .5rem

::-webkit-scrollbar-thumb
  background: var(--scroll-thumb)
  border-radius: .25rem

.color
  &_mode
    margin-left: 1.25rem

section
  .section_link
    padding-left: .33rem
    font-size: .9rem
  .toc_item
    img
      margin: .66rem auto

.dropdown
  .dropdown-button
    text-transform: uppercase
  .dropdown-content
    display: none
    background-color: var(--bg)
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.17)
    z-index: 4
    @media screen and (min-width: 992px)
      position: absolute
      top: 3.5rem
    a
      display: block
      padding: 1rem
      &:hover
        background-color: var(--accent)
.dropdown:hover
  .dropdown-button
    background-color: var(--accent)
  .dropdown-content
    display: block

#searchpage
  padding-top: 6rem

.page-home
  .grid-2 :nth-child(2) img
    position: sticky
    top: 2rem

footer
  min-height: unset
  padding: .75rem 0 !important