<!-- custom styles, preload scripts, custom meta tags -->
<script>
  if (location.pathname === '/' && !location.href.endsWith('#')) {
    let langPrefs = navigator.languages;
    let siteLangs = '{{ .Site.Languages }}'.match(/[a-z]+/g);
//  console.log(langPrefs, siteLangs);
    for (let langPref of langPrefs) {
      for (let siteLang of siteLangs) {
        if (siteLang !== langPref.slice(0, 2))
          continue;
        langPrefs = siteLangs = [];
//      console.log('Redirecting to', siteLang);
        if (siteLang !== '{{ .Site.Language }}')
          location.replace(siteLang);
      }
    }
  }
</script>
<link rel="alternate" type="application/atom+xml" title="ATOM Feed for JoinJabber.org" href="/index.xml" />
<link rel="alternate" type="application/rss+xml" title="@joinjabber" href="https://indieweb.social/@joinjabber.rss" />
